fieldset {
width:270px;
}

body
{
background: rgba(179,220,237,1);
background-image: url("ignasi.png");
background-attachment: fixed;
font-family: Corbel;

}

h1{
color: #4169E1;
text-shadow: 2px 2px 4px #87CEEB;
}

h2{
color: #4169E1;
text-shadow: 2px 2px 4px #87CEEB;
}

